
::-webkit-scrollbar {
    background-color: #111314;
    color: var(--button-important-color);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color-light);
}

h5 {
    color: var(--text-color2);
}

html {
    --foreground-color: rgba(24, 24, 26, 0.666);
    --background-color: rgb(14, 15, 17);
    --background-color-light: #171a1d;
    --text-color1: rgb(194, 196, 197);
    --text-color2: rgb(221, 221, 221);
    --accent-color1:rgb(26, 95, 80);
    --accent-color2:rgb(50, 129, 105);
    --accent-color3:rgb(151, 96, 33);
    --button-important-color: rgba(24, 24, 26);
    /*--line-color: rgba(194, 196, 197, 0.35);
    --btn-color:#42424281;*/
}

body {
    position: relative;
    color: var(--text-color1);
    background-color: var(--background-color);
}

.container-fluid {
    color: var(--text-color1);
    padding: 0px;
    background-color: var(--foreground-color);
}

.header {
    background-color: var(--background-color);
    position: relative;
    padding-bottom: 20px;
}

.dogs {
    text-shadow: 0px 0px 10px #0000007e;
    position: absolute;
    font-weight: 700;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.clinique {
    font-size: calc((1.475rem + 2.7vw)/3);
    font-weight: 400;
    margin-top: 5px;
}

.logo {
    opacity: 40%;
}

h1 {
    color: var(--text-color2);
    margin: 0;
    letter-spacing: 4px;
}

.general-info {
    letter-spacing: 3px;
    background-color: var(--background-color);
}

.dropdown-menu {
    background-color: var(--accent-color3);
}

.dropdown-menu a{
    color: var(--text-color2);
}

.table {
    color: var(--text-color1);
}

.table-hover {
    --bs-table-hover-color: var(--text-color2);
}

.navbar {
    font-size: 1.3em;
}

.scrollspy-lecons {
    
    background-color: rgba(29, 29, 29, 0.5);
}

.scrollspy-content {
    padding-right: 0px;
    background-color: var(--background-color-light);
    border-radius: 10px;
} 

.lecons-right-2 {
    position: relative;
    height: 350px;
    overflow: auto;
    overflow-x: hidden;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--accent-color1);
}

.nav-link {
    color: var(--accent-color2);
}

.nav-link:hover {
    color: var(--text-color1);
}

.nav-link:focus {
    color: var(--text-color1);
}

.soc {
    --bs-gutter-x: initial;
}

.magasin {
    padding-right: 0px!important;
}

.horaire {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 2fr 3fr 3fr 2fr;
}
.horaire > div {
  text-align: center;
}

.soins-vet {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 2fr 3fr 3fr 2fr;
}
.soins-vet > div {
  text-align: center;
}
.item1 { 
    grid-area: 1 / span 3 / 2 / 4;
    background-color: var(--foreground-color);
    opacity: 100%;
    padding-bottom: 15px;
}
.item2 { 
    grid-area: 3 / 3 / 4 / 4;
    background-color: var(--background-color-light); 
 }
.item3 { 
    grid-area: 2 / 1 / 3 / 2;
    
    background-color: var(--foreground-color);
    opacity: 100%;
}
.item4 { 
    grid-area: 2 / 2 / span 2 / 3;
    display: flex;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.15)
}
.item4 > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 1.5em;
}
.item4-1{
    background-color: var(--accent-color3);
    color: var(--text-color2);
    font-weight: 400!important;
}
.item4-2{
    background-color: var(--accent-color1);
    color: var(--text-color1);
}
.item4-1 .badge {
    font-size: 1em;
}
.item4-2 .badge {
    font-size: 1em;
}
.item4-3{
    background-color: var(--bs-dark);
    color: var(--text-color1);
}
.item5 { 
    grid-area: 3 / 1 / 4 / 2;
    background-color: var(--background-color-light); 
}
.item6 { 
    grid-area: 2 / 3 / 3 / 4;
    
    background-color: var(--foreground-color);
    opacity: 100%;
 }
 .item7 { 
     grid-area: 4 / span 3 / 4 / 4;
     background-color: var(--background-color-light);
 }

.small-disp {
    font-size: calc((1.475rem + 2.7vw)/3);
    font-weight: 300;
}

.btn {
    margin: 10px;
}

.form-check-input {
    background-color: var(--background-color-light);
    border: var(--text-color1);
}

.form-check-input:focus {
    border-color: var(--text-color1);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--accent-color2);
}

.btn-primary {
    color: var(--text-color1);
    background-color: var(--accent-color1);
    border-color: var(--accent-color1);
}

.btn-primary:hover {
    color: var(--text-color1);
    background-color: var(--accent-color2);
    border-color: var(--accent-color2);
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: var(--text-color1);
    background-color: var(--accent-color2);
    border-color: var(--accent-color2);
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: var(--text-color1);
    background-color: var(--accent-color2);
    border-color: var(--accent-color2);
    box-shadow: 0 0 0 0.25rem var(--accent-color2);
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem var(--accent-color2);
}

.modal-content{
    background-color: var(--background-color-light);
}
.modal-header {
    border-bottom: 1px solid var(--accent-color3);
}
.modal-footer {
    border-top: 1px solid var(--accent-color3);
}
.form-group input {
    color: var(--text-color2);
    background-color: var(--bs-dark);
    border: none;
}
.form-group option {
    color: var(--text-color2);
    background-color: var(--bs-dark);
    border: none;
}
.form-group textarea {
    color: var(--text-color2);
    background-color: var(--bs-dark);
    border: none;
}
.form-floating:focus {
    color: var(--text-color1);
    background-color: var(--bs-dark);
    border-color: var(--accent-color1);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--accent-color2);
}
.form-control:focus {
    color: var(--text-color1);
    background-color: var(--bs-dark);
    border-color: var(--accent-color1);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--accent-color2);
}
.form-floating .form-control {
    color: var(--text-color1);
    background-color: var(--bs-dark);
    outline: 0;
    border: none;
}
.commentaire>.form-control {
    height: calc(7rem + 2px);
}

.modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
}

.progress {
    height: 30px;
    font-size: calc((1.475rem + 2.7vw)/3.5);
    font-weight: 300;
    border: 0.1em solid var(--accent-color1);
}

.calendar {
    background-color: var(--accent-color1);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.heure {
    background-color: var(--accent-color1);
}

.btn-group-vertical {
    width:100%;
}

.btn-group-vertical label{
    background-color: var(--bs-dark);
    margin: 0px;
}

.btn-group1 {
    background-color: var(--bs-dark);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 0;
}
.btn-group1 label {
    margin: 0px;
}
.btn-outline-primary {
    color: var(--text-color1);
    border-color: var(--bs-dark);
}
.btn-group1>.btn {
    border-radius: 0;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: var(--text-color1);
    border-color: var(--accent-color1);
    background-color: var(--accent-color3);
}
.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
    box-shadow: 0 0 0 0.25rem var(--accent-color1);
}
.btn-outline-primary:hover {
    color: var(--text-color1);
    border-color: var(--accent-color1);
    background-color: var(--accent-color2);
}
.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem var(--accent-color1);
}

.form-select {
    color: var(--text-color2);
    background-color: var(--bs-dark);
    border: none;
}

.separator{
    opacity: 50%;
    margin: 20px;
}

.carousel-dark .carousel-caption {
    background-color: var(--foreground-color);
    color: var(--text-color1);
    text-shadow: 0px 0px 20px #000000;
}

.carousel-caption p {
    color: var(--text-color2);
    font-size: 20px;
    text-shadow: 0px 0px 20px #000000;
}

.accordion-button {
    background-color: var(--bs-dark);
    color: var(--text-color2);
    padding: 0.5rem 1.25rem;
}
.accordion-button:focus {
    border: none;
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    background-color: var(--bs-dark);
    color: var(--text-color2);
}
.accordion-button::after {
    background-image: url("images/arrow-up.png");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("images/arrow-up.png");
}
.accordion-item {
    background-color: var(--bs-dark);
    color: var(--text-color2);
}
.accordion-item h4 {
    background-color: var(--bs-dark);
    color: var(--text-color2);
    padding-right: 10px
}

.shadow2 {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5)!important;
}

.jour {
    background-color: var(--background-color-light);
    border-color: var(--background-color-light);
    padding: 1px;
}

.nos-specialistes {
    text-align: center;
    justify-content: center;
}

.btn-close {
    background: none;
}